
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="margin-top:40px;height:300px;">
    <h1 style="color:white">Coronavirus Disease (COVID-19)</h1>
</div>
<div class="container-fluid">
    <p>
        Coronavirus disease 2019 (COVID-19) is caused by a new coronavirus first identified in Wuhan, China, in December 2019. Because it is a new virus,
        scientists are learning more each day. Although most people who have COVID-19 have mild symptoms, COVID-19 can also cause severe illness and even death. Some groups,
        including older adults and people who have certain underlying medical conditions, are at increased risk of severe illness.
    </p>
</div>
